@font-face {
  font-family: "Open Sans";
  src: url("/TemplateData/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background: #F0F3F5;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#logo {
  width: 154px;
  height: 154px;
  background: url("mages.png") no-repeat center;
  background-size: cover;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("progress-bar-empty-red.png") no-repeat center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-red.png") no-repeat center;
}
#unity-footer {
  position: relative;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}
#unity-fullscreen-button {
  cursor: pointer;
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}

.tips {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 325%);
  color: #4D5858;
  font-family: "Open Sans";

  white-space: nowrap;
  font-size: 20;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#tip-text {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
